{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'style/footer.css' %}">
</head>

<footer class="position-absolute bottom-0 bg-body-tertiary w-100 d-flex flex-column align-items-center justify-content-center game-font border-top">
  <div>
    <span>KDT 풀스택 2기 Group10</span>
    <a class="text-danger" href="https://github.com/syuyoung">서유영</a>
    <a class="text-warning" href="https://github.com/DT-HYUNJUN">박현준</a>
    <a class="text-success" href='https://github.com/sodamjeong' class="name">정소담</a>
  </div>
  <span>Copyright 2023. All Rights Reserved.</span>
</footer>