{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'style/navbar.css' %}">
</head>

<nav class="fixed-top navbar navbar-expand-lg bg-body-tertiary px-5 shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-3" href="{% url 'posts:index' %}">
      <!-- 홈 이미지 -->
      <img class="logo-img" src="{% static 'img/logo.png' %}" alt="logo">
      <span class="game-font me-3">Balance Game</span>
      <a class="fs-3 text-dark mt-1" href="{% url 'posts:create' %}"><i class="bi bi-window-plus"></i></a>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div>
        {% if request.user.is_authenticated %}
          <div class="d-flex align-items-center gap-3">
            <span>
              <a class="fw-bold text-dark" href="{% url 'accounts:profile' request.user.username %}">{{ user.last_name }}</a>
              님 안녕하세요!
            </span>
            <a class="btn btn-outline-danger" href="{% url 'accounts:logout' %}">로그아웃</a>
          </div>
        {% else %}
          <div class="d-flex align-items-center gap-3">
            <a class="text-primary" href="{% url 'accounts:login' %}">로그인</a>
            <a class="btn btn-outline-primary" href="{% url 'accounts:signup' %}">회원가입</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>