@font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

a {
  text-decoration: none;
}

.game-font {
  font-family:'bitbit';
}

.logo-img {
  width: 35px;
}