{% extends 'base.html' %}

{% block content %}

<div class="account-form mx-auto">
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link " href="{% url 'accounts:update' %}">회원정보 변경</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">비밀번호 변경</a>
    </li>
  </ul>
  
  <form action="{% url 'accounts:password_change' %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
      <div class="input-group mb-3">
        {{ field }}
      </div>
    {% endfor %}
    <div class="d-grid">
      <button class="btn btn-primary" type="submit">비밀번호 변경</button>
    </div>
  </form>
</div>

{% endblock content %}